.music-name {
    font-size: larger;
}

img.idol-img {
    image-rendering: pixelated;
}

.belt-vocal{
    width:10px;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem
}

.album-name {
    font-size: 20px;
}

span.subscription-service{
    font-size: 16px;
    color: #4d4d4d;
}

@media screen and (max-width: 767px) {
    .button-link{
        height: 26px;
        font-size: 12px;
    }
    .album-name {
        font-size: 16px;
    }
    span.subscription-service{
        font-size: 14px;
        color: #4d4d4d;
    }
}