<div class="m-auto container">
    <div class="row mt-2">
        <div class="col-12">
            <a class="btn btn-primary" [routerLink]="['/index']">戻る</a>
        </div>
    </div>
    <div class="album-list my-2" *ngFor="let album of this.albumList">
        <div class="idol-title d-flex flex-row px-0 pt-2 pb-0 m-0 border-bottom border-3 border-primary">
            <div class="ms-0 ps-0 my-auto">
                <span class="m-0 text-nowrap fs-5 fw-bold">{{album.albumName}}</span>
                <p class="p-0 m-0">{{album.subName}}</p>
            </div>
            <a class="text-dark my-1 ms-2 px-1 me-2 text-nowrap" href="https://www.google.co.jp/search?q={{album.albumName}}" target="_blank">
                <i class="bi bi-search"></i>
            </a>
        </div>
        <div class="border shadow-sm bg-white border-1 my-2 px-2" *ngFor="let music of albumMusicMap[album.id.toString()]">
            <div class="">
                <div class="row">
                    <div class="col-12 col-md-6 my-auto py-2">
                        <span class="music-name me-2 fw-bolder">{{music.trackNum}}.</span>
                        <span class="music-name fw-bolder">{{music.musicName}}</span>
                    </div>
                    <div class="col-12 col-md-6 ">
                        <div class="me-0 text-start text-md-end">
                            <a class="btn btn-google border my-1 px-1 me-2" href="https://www.google.co.jp/search?q={{music.musicName}}" target="_blank">Google検索</a>
                            <a class="btn btn-youtube text-white my-1 px-1" href="{{music.youtubeURL}}" target="_blank">YouTube</a>
                        </div>
                    </div>
                </div>
                <span class="row border-top"></span>
                <div class="row py-1">
                    <div (click)="this.clickVocalListPullDown($event,music)">
                        <i *ngIf="!music['vocalShowState']" class="bi bi-chevron-right"></i>
                        <i *ngIf="music['vocalShowState']" class="bi bi-chevron-down"></i>
                        <span class="">歌唱メンバー</span>
                    </div>
                    <ng-container *ngIf="music['vocalShowState']">
                        <div class="row text-start p-auto m-0">
                            <ng-container *ngFor="let vocal_id of music.vocalList">
                                <div class="btn idol-btn col-5 col-md-2 d-flex flex-row border border-{{this.idolMap[vocal_id].colorClass}} border-1 p-0 me-1 mb-1 text-start" 
                                [routerLink]="['/idol',this.idolMap[vocal_id].id]">
                                    <div class="belt-vocal bg-{{this.idolMap[vocal_id].colorClass}} h-100"></div>
                                    <div class="h-100 my-auto d-flex align-items-center">
                                        <img src="assets/image/idol/idol_{{('000' + this.idolMap[vocal_id].id).slice(-3)}}.png" class="idol-img">
                                    </div>
                                    <div class="">
                                        {{this.idolMap[vocal_id].shortName}}
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>