.body{
    width: 940px;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
}
@media screen and (max-width: 960px) {
    .body{
        width: 720px;
    }
}

@media screen and (max-width: 767px) {
    .body{
        width: 95%;
    }
}