<a class="cd-series-button w-100 btn btn-custom-white border shadow-sm text-dark text-decoration-none p-1" [routerLink]="[this.path_before,this.path]">
    <div class="row py-0 cd-image">
        <div class="col-12 pt-0 text-start" >
            <div class="short-name text-nowrap">{{this.shortName}}</div>
            <div class="display-name text-nowrap">{{this.displayName}}</div>
        </div>
    </div>
    <div class="row m-0 p-0 border-top description">
        <div class="col-12 ps-1 text-start">
        </div>
    </div>
</a>
