.cd-series-button{
    height: 150px;
}

.cd-series-button .cd-image{
    height: 40%;
    font-size: medium;
}

.cd-series-button .cd-image .short-name{
    font-size: x-Large;
}

.cd-series-button .cd-image .display-name{
    font-size: small;
    overflow: hidden;
}

.cd-series-button .description{
    background-color: rgb(243, 243, 243);
    height: 60%;
    font-size: small;
    overflow: hidden;
    text-overflow: ellipsis;
}