.idol-title{
    height:50px;
}

.belt-title{
    width:10px;
}

.belt-vocal{
    width:10px;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem
}

.music-name {
    font-size: large;
}

.idol-btn:hover{
    background: #e7e7e7;
}

img.idol-img {
    image-rendering: pixelated;
}