$custom-primary-palette: (
    50 : #e9e9f0,
    100 : #c8c8d8,
    200 : #a3a4bf,
    300 : #7e80a5,
    400 : #636491,
    500 : #47497e,
    600 : #404276,
    700 : #37396b,
    800 : #2f3161,
    900 : #20214e,
    A100 : #9194ff,
    A200 : #5e62ff,
    A400 : #2b30ff,
    A700 : #1217ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);