<div class="m-auto pt-4">
    <div class="row mt-2">
        <div class="col-12">
            <a class="btn btn-primary" [routerLink]="['/index']">戻る</a>
        </div>
    </div>
    <h5 class="border-bottom border-primary border-3 pt-3 pb-1">このサイトについて</h5>
    <div>
        <div>
            <span>このサイトはアイドルマスターミリオンライブの楽曲毎に、配信している音楽サブスクリプションサービスへのリンクをまとめたサイトです。<br>
            アイドル毎、CDシリーズ毎に楽曲をまとめています。楽曲探しにお役立てください。
            </span>
        </div>
        <div class="mt-3">
            <span>このサイトからは下記の配信サービスの楽曲ページに直接移動できます。</span>
        </div>
        <ul class="mb-1">
            <li>YouTube</li>
            <li>Spotify</li>
        </ul>
        <div >
            <span>下記の配信サービスへは当該サービスの検索機能を実行するリンクになります。</span>
        </div>
        <ul>
            <li>Apple&nbsp;Music</li>
            <li>Amazon&nbsp;Music</li>
            <li>Line&nbsp;Music</li>
        </ul>
    </div>
    <div>
        <span>
            このサイトを作った人：<a href="https://twitter.com/33_midori">さみみどり(33_midori)</a>
        </span>
        <br>
    </div>
    <h5 class="border-bottom border-primary border-3 mt-4 pb-1">おまけ</h5>
    <div>
        <span>
            このサイトを公開するにあたって作成したソースコード、アイドルのアイコン画像を下記に掲載しています。<br>
            さみみどりが作成したこのサイトの素材について二次利用可能ですので、公共良俗に反しない範囲、版権元にご迷惑をかけない範囲でご自由にお使いください。<br>
            利用する場合、引用元を明記してくれると嬉しいです。<br>
        </span>
        <ul>
            <li>
                <span>ソースコード：<a href="https://github.com/33-midori/ml-music-list">https://github.com/33-midori/ml-music-list</a></span>
            </li>
            <li>
                <span>アイドルのアイコン：<a href="https://github.com/33-midori/ml-music-list/tree/main/src/assets/image/idol">https://github.com/33-midori/ml-music-list/tree/main/src/assets/image/idol</a></span><br>                
            </li>
        </ul>
    </div>
</div>
