<div class="m-auto pt-4">
    <div class="d-flex flex-row border border-danger border-3 border-p p-0 mb-4">
        <div class="row w-100 ">
            <div class="col-12 w-100 ">
                <h5 class="">お知らせ(2024/02/03)</h5>
            </div>
            <div class="col-12 w-100 ">
                <ul>
                    <li>当サイトは2023/07/26までの楽曲更新を最後に更新を停止しています。</li>
                    <li>2024年1～2月にあった、サブスク配信サービス側の楽曲URL更新の影響でリンクの多くが機能していません。</li>
                    <li>今後、このサイトの更新予定はありません。ご容赦ください。</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="d-flex flex-row border-bottom border-3 border-primary p-0 m-0">
        <h5 class="">アイドルマスターミリオンライブ! 楽曲リンク</h5>
    </div>
    <div class="d-flex flex-row p-0 m-0">
        <a class="ms-auto align-bottom mt-auto link-dark text-decoration-none" 
        [routerLink]="['/about']"><span><i class="bi bi-question-circle me-1"></i>このサイトについて</span></a>
    </div>
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" class="w-100"
    [selectedIndex]="this.tabIndexState"
    (selectedTabChange)="changeTab($event)">
        <mat-tab class="w-100" label="アイドル"> 
            <div class="container-fluid my-2 tab-body">
                <div class="row">
                    <div class="col-6 col-md-3 py-1 px-1 px-md-2 m-0" *ngFor="let idol of this.idolList">
                        <div class="row m-0" *ngIf="idol.production == '765'">
                            <div class="d-flex flex-row w-100 col-12 py-0 ps-0 pe-0 pe-sm-auto shadow-sm btn btn-white idol-btn border border-{{idol['colorClass']}} " 
                            [routerLink]="['/idol',idol.id]" >
                                <div class="belt-idol bg-{{idol.colorClass}} h-100"></div>
                                <div class="d-flex flex-row h-100">
                                    <div class="my-auto px-md-auto px-0">
                                        <img src="assets/image/idol/idol_{{('000' + idol.id).slice(-3)}}.png" class="idol-img">
                                    </div>
                                    <div class="text-start my-auto ps-2 px-md-1 px-0 align-middle"><span class="align-middle">{{idol['shortName']}}</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </mat-tab>
        <mat-tab class="w-100" label="CD"> 
            <div class="container-fluid my-2 tab-body">
                <div class="row">
                    <div class="col-6 col-md-4 py-1 m-0" *ngFor="let album of this.cdseriesList">
                        <div class="row m-0">
                            <div class="col-12 p-0">
                                <app-cdseries-button [path]='album["path"]'
                                [displayName]='album["displayName"]'
                                [shortName]='album["shortName"]'
                                [fullName]='album["fullName"]'
                                [description]='album["displayDescription"]'></app-cdseries-button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>
